@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.contato{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; 
    margin-top: 40px;
    margin-bottom: 80px;
}

.tituloCont{
    color: #8b5e3c;
    font-family: Poppins;
    font-weight: 400;
    text-align: center;
    font-weight: bold;
}

.tituloCont h2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.infoContato p{
    font-family: Poppins;
    font-size: 16px;
}

.endereco strong{
   color: #8b5e3c;
}

.form label{
    color:rgba(0, 0, 0, 0.786);
    font-weight: bolder;
    font-family: Poppins;
}

.form input{
   width: 100%;
   height: 6vh;
   border-radius: 5px;
   border: 1px solid #ddd;
}

.form textarea{
    width: 100%;
    height: 6vh;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 14vh;   
}

button{
    margin-top: 4vh;
    width: 100%;
    color: #ddd;
    font-weight: 900;
    font-family: Poppins;
    border: none;
    background-color:#735032;
    height: 6vh;
    margin-bottom:8vh ;
    border-radius: 5px;
}