@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.footer {
    background-color: #8b5e3c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
}

.footer .containerFooter {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 5px 0;
    font-family: Poppins;
    font-size: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer {
        padding: 15px 0;
    }

    .footer p {
        font-size: 0.9rem;
    }
}